<!DOCTYPE html>
<html>

    <% include partial/header.ejs %>
        <header>
            <h1> C++ </h1>
            
        </header>
        <hr>
        
        <% include partial/nav.ejs %>
        
        <br>
        
        <main>
            <figure>
                <img id="pageGraphic" src="img/cpp_logo.png" alt="C++ logo"/>
            </figure>
            
            <div id="content">
                <br>
                <h2 id="cppLink"><strong><a href="http://www.cplusplus.com/info/description/">C++</a></strong></h2>
                <p>
                    C++, as the name implies, builds on the functionality of the <br> C language. 
                    As a result, C++ code work well with C code. 
                    <br>Even libraries in C can be used in C++ with little to no change <br> in the libraries' code.
                </p>

                <br> <br>
                
                <table id="codeTable">
                    <tr id="table-header">
                        <td>C++</td>
                        <td>Release Date</td>
                    </tr>
                    <tr class="table-row">
                        <td>C++98</td>
                        <td>1998</td>
                    </tr>
                    <tr class="table-row">
                        <td>C++11</td>
                        <td>2011</td>
                    </tr>
                    <tr class="table-row">
                        <td>C++14</td>
                        <td>2014</td>
                    </tr>
                </table>
                
            </div>
            
        </main>
        

        <% include partial/footer.ejs %>