<!DOCTYPE html>
<html>
    <% include partial/header.ejs %>        
    <header>
            <h1> Programming Languages </h1>
            
        </header>
        <hr>

        <% include partial/nav.ejs %>
        
        <br>
        
        <main>
            <figure>
                <img id="pageGraphic" src="img/programming1.jpg" alt="image of generic php code"/>
            </figure>
            
            <div id="content">
                <br>
                <h2><strong><a href="https://en.wikipedia.org/wiki/List_of_programming_languages">Programming</a></strong></h2>
                <p>
                    <em>What is programming?</em> Computer programming is how engineers tell computers what to do next. <br>
                    There are hundreds of programming languages. All used to complete many different tasks. <br>
                    This site will cover just a few of the most common and widely used languages.
                    <ol>
                        <li>C++</li>
                        <li>Python</li>
                        <li>Java</li>
                    </ol>
                </p>
                <br> <br>
                
                
            </div>
            
        </main>
        
<% include partial/footer.ejs %>