<!DOCTYPE html>
<html>

    <% include partial/header.ejs %>
        <header>
            <h1> Java </h1>
            
        </header>
        <hr>
        
        <% include partial/nav.ejs %>
        
        <br>
        
        <main>
            <figure>
                <img id="pageGraphic" src="img/javalogo.png" alt="C++ logo"/>
            </figure>
            
            <div id="content">
                <br>
                <h2><strong><a href="https://www.java.com/en/download/faq/whatis_java.xml">Java</a></strong></h2>
                <p>
                    Java is one of the most widely used languages in the world.  
                    It is used in everything <br>from basic websites to gaming consoles to cell phones. 
                    <br>Because of its wide use, it is encouraged to keep your version of java up to date. <br>
                    On average timeline of <a href="https://www.codejava.net/java-se/java-se-versions-history">java update releases</a> 
                    is every two years.
                </p>

                <br> <br>
                
                
                
            </div>
            
        </main>
        

        <% include partial/footer.ejs %>