<!DOCTYPE html>
<html>

    <% include partial/header.ejs %>
        <header>
            <h1> Python </h1>
            
        </header>
        <hr>
        
        <% include partial/nav.ejs %>
        
        <br>
        
        <main>
            <figure>
                <img id="pageGraphic" src="img/pylogo.jpg" alt="python programming language logo"/>
            </figure>
            
            <div id="content">
                <br>
                <h2><strong><a href="https://www.python.org/about/">Python</a></strong></h2>
                <p>
                    Since its first release in 2001, python has had many version updates. <br>
                    Below are just a few with Python 3.7.4 being the latest version,<br>
                    coming out in early July 2019
                </p>

                 <br>
                
                <table id="codeTable">
                    <tr id="table-header">
                        <td>Python</td>
                        <td>Release Date</td>
                    </tr>
                    <tr class="table-row">
                        <td>Python 2.0.1</td>
                        <td>2001</td>
                    </tr>
                    <tr class="table-row">
                        <td>Python 2.7.0</td>
                        <td>2010</td>
                    </tr>
                    <tr class="table-row">
                        <td>Python 3.3.7</td>
                        <td>2017</td>
                    </tr>
                    <tr class="table-row">
                        <td>Python 3.7.4</td>
                        <td>2019</td>
                    </tr>
                </table>
                

            </div>
            
        </main>
        

        <% include partial/footer.ejs %>