
        <footer>
            <hr>
            <p>
                CST336 Internet Programming. 2019&copy; Suttonwills<br>
                <strong><mark>Disclaimer:</mark></strong> Content on this page is for academic purposes only.
            </p>
            
            <br>
            <img id="csumbLogo" src="img/CSUMB-Logo1.png" alt="image of CSUMB Otters Logo"/>
        </footer>

    </body>

</html>